{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
    <!-- <div>
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{post.date_posted}}</p>
        <p>{{ post.content }}</p>
    </div> -->
    <div class="card mb-3 shadow rounded">
        <div class="card-body">
            <div class="d-flex small">
                <div class="text-capitalize text-primary">{{ post.author }}</div>
                <span class="mx-2" style="opacity: 0.5;">></span>
                <div class="text-secondary">{{ post.date_posted }}</div>
            </div>
            <div style="opacity: 0.5;">
                <hr class="my-2">
            </div>
            <div class="card-title h3">{{ post.title }}</div>
            <p class="card-text">{{ post.content }}</p>
        </div>
      </div>
    {% endfor %}
{% endblock content %}