{% extends 'blog/base.html' %}
{% block content %}
    <!-- <div>
        <h1>{{ object.title }}</h1>
        <p>By {{ object.author }} on {{object.date_posted}}</p>
        <p>{{ object.content }}</p>
    </div> -->
    <div class="card mb-3 shadow rounded">
        <div class="card-body d-flex">

            <div style="max-width: 150px;" class="px-2">
                <img src="{{object.author.profile.image.url}}" alt="" class="img-fluid rounded-circle">
            </div>
            <div>
                <div class="d-flex small">
                    <div class="text-capitalize text-primary">{{ object.author }}</div>
                    <span class="mx-2" style="opacity: 0.5;">></span>
                    <div class="text-secondary">{{ object.date_posted | date:"F d, Y" }}</div>
                </div>
                <div style="opacity: 0.5;">
                    <hr class="my-2">
                </div>
                <div class="card-title h3">{{ object.title }}</div>
                <p class="card-text">{{ object.content }}</p>
            </div>
        </div>
    </div>
{% endblock content %}