:root{
    --content-width:1500px;
    /* --bs-body-font-size: 2rem; */
}
.blog-nav{
    --nav-padding:calc(((100% - var(--content-width)) / 2) + 1rem);
    padding: 0 var(--nav-padding);
}
/* --bs-primary */